@model Fiap.Exemplo02.MVC.Web.Models.Aluno

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using(Html.BeginForm("Cadastrar", "Aluno"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Bolsa)
        @Html.CheckBoxFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Grupo)
        @Html.DropDownListFor(a => a.GrupoId, ViewBag.grupos as SelectList, "Selecione", new {@class = "form-control"})
    </div>
    <div  class="form-group">
        @Html.LabelFor(a => a.Professor)
        @Html.DropDownListFor(a => a.Professor, ViewBag.professores as SelectList, "Selecione", new {@class = "form-control"})
    </div>
    <div>
        <input type="submit" class="btn-primary" />
    </div>
   
}


