@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Aluno</h2>

@using(Html.BeginForm("Cadastrar", "Aluno"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new {@class = "form-control", type="text" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control", type="date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Bolsa)
        @Html.CheckBoxFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control", type="number", step="any" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GrupoId)
        @Html.DropDownListFor(a => a.GrupoId, Model.ListaGrupo, "Selecione", new {@class = "form-control"})
    </div>
    
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
   
}


