@model Fiap.Exemplo02.MVC.Web.ViewModels.AlunoViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Aluno</h2>

@Html.ValidationSummary()

@using(Html.BeginForm("Cadastrar", "Aluno"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new {@class = "form-control", type="text" })
        @Html.ValidationMessageFor(a => a.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control", type="date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Bolsa)
        @Html.CheckBoxFor(a => a.Bolsa)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control", type="number", step="any" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GrupoId)
        @Html.DropDownListFor(a => a.GrupoId, Model.ListaGrupo, "Selecione", new {@class = "form-control"})
    </div>
    
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>  
}

@section scripts{
    <script>
        $().ready(function () {


            $("#Nome").blur(function () {
                $.get("/Aluno/ValidarNome", { "nome": $("#Nome").val() })
                   .done(function (data) {
                       if (data.existe) {
                           $("[data-valmsg-for=Nome]").addClass("field-validation-error").removeClass("field-validation-valid")
                                .html("<span>Nome já cadastrado</span>")
                           console.log("Ja existe no BD!");
                       }
                       else {
                           $("[data-valmsg-for=Nome]").removeClass("field-validation-error").addClass("field-validation-valid")
                                .html("");
                       }
                   });             

            })


            $("#Bolsa").click(function () {
                $("#Desconto").parent().slideToggle();
            })


            
        })

       
    </script>
}


