@model List<Fiap.Exemplo02.MVC.Web.Models.Professor>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar professores</h2>

@Helper.Message(TempData["mensagem"], "alert alert-danger")

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Nome</td>
                <td>@p.Salario</td>
                <td>@Html.ActionLink("Editar", "Editar", new { id = @p.Id }, new {@class = "btn btn-primary"})
                    <button type="button" onclick="idProfessor.value = @p.Id" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        Excluir
                    </button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Deseja excluir o professor?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Remover", "Professor"))
                {
                    <input type="hidden" id="idProfessor" name="idProfessor" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                }
            </div>
        </div>
    </div>
</div>